In [2]:
from sqlalchemy import create_engine

server = 'elt-world-bank.database.windows.net'
database = 'ELT'
username = 'CloudSA648a5ceb'
password = 'Urno9@$$'
driver = 'ODBC Driver 17 for SQL Server'

connection_string = f"mssql+pyodbc://{username}:{password}@{server}:1433/{database}?driver={driver}"
engine = create_engine(connection_string)

In [6]:
import pandas as pd
import zipfile

# Step 1: Load the ZIP file
# Fix: Use raw string (r prefix) or double backslashes or forward slashes for file paths
zip_path = r"C:\Users\aleen\venv\API_GC.DOD.TOTL.GD.ZS_DS2_en_csv_v2_87867.zip"
# Alternative solutions:
# zip_path = "C:\\Users\\aleen\\venv\\API_GC.DOD.TOTL.GD.ZS_DS2_en_csv_v2_87867.zip"
# zip_path = "C:/Users/aleen/venv/API_GC.DOD.TOTL.GD.ZS_DS2_en_csv_v2_87867.zip"

with zipfile.ZipFile(zip_path, 'r') as z:
    # Print all files in the ZIP
    print("Contents of the ZIP file:")
    for name in z.namelist():
        print(name)
    
    # Find the actual data file (not metadata)
    csv_files = [name for name in z.namelist() if name.endswith('.csv') and "Metadata" not in name]
    
    if not csv_files:
        raise ValueError(" No valid CSV file found in ZIP!")

    # Use the first valid CSV file
    csv_name = csv_files[0]
    print(f"\n Using file: {csv_name}")

    with z.open(csv_name) as f:
        df = pd.read_csv(f, skiprows=4)

# Confirm the DataFrame was loaded
print("\n DataFrame loaded with shape:", df.shape)
print(df.head())

Contents of the ZIP file:
Metadata_Indicator_API_GC.DOD.TOTL.GD.ZS_DS2_en_csv_v2_87867.csv
API_GC.DOD.TOTL.GD.ZS_DS2_en_csv_v2_87867.csv
Metadata_Country_API_GC.DOD.TOTL.GD.ZS_DS2_en_csv_v2_87867.csv

 Using file: API_GC.DOD.TOTL.GD.ZS_DS2_en_csv_v2_87867.csv

 DataFrame loaded with shape: (266, 70)
                  Country Name Country Code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                              Indicator Name     Indicator Code  1960  1961  \
0  Central government debt, total (% of GDP)  GC.DOD.TOTL.GD.ZS   NaN   NaN
1  Central government debt, total (% of GDP)  GC.DOD.TOTL.GD.ZS   NaN   NaN
2  Central government debt, total (% of GDP)  GC.DOD.TOTL.GD.ZS   NaN   NaN
3  Central government debt, total (% of GDP)  GC.DOD.TOTL.GD.ZS   NaN   NaN
4  Central government debt, total (% of GDP)  GC.DOD.TOTL.GD.ZS   NaN   NaN

   1962  1963  1964  1965  ...  2016  2017  2018  2019  2020  2021  2022  \
0   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   2023  2024  Unnamed: 69
0   NaN   NaN          NaN
1   NaN   NaN          NaN
2   NaN   NaN          NaN
3   NaN   NaN          NaN
4   NaN   NaN          NaN

[5 rows x 70 columns]

In [8]:
import pandas as pd
import zipfile

# Step 1: Load the ZIP file and extract the CSV
zip_path = "C:\\Users\\aleen\\venv\\API_GC.DOD.TOTL.GD.ZS_DS2_en_csv_v2_87867.zip"

with zipfile.ZipFile(zip_path, 'r') as z:
    for name in z.namelist():
        if name.endswith('.csv') and "Metadata" not in name:
            print(f"Using file: {name}")
            with z.open(name) as f:
                df = pd.read_csv(f, skiprows=4)

# Step 2: Drop unnamed or empty columns
df = df.drop(columns=[col for col in df.columns if "Unnamed" in col])

# Step 3: Melt into long format
df_long = df.melt(
    id_vars=["Country Name", "Country Code", "Indicator Name", "Indicator Code"],
    var_name="Year",
    value_name="DebtPercentGDP"
)

# Step 4: Drop missing values
df_long = df_long.dropna(subset=["DebtPercentGDP"])

# Step 5: Preview the result
print("✅ DataFrame created successfully:")
print(df_long.head())

Using file: API_GC.DOD.TOTL.GD.ZS_DS2_en_csv_v2_87867.csv
✅ DataFrame created successfully:
       Country Name Country Code                             Indicator Name  \
2730          Spain          ESP  Central government debt, total (% of GDP)
2996          Spain          ESP  Central government debt, total (% of GDP)
7884  North America          NAC  Central government debt, total (% of GDP)
7965  United States          USA  Central government debt, total (% of GDP)
7993      Australia          AUS  Central government debt, total (% of GDP)

         Indicator Code  Year  DebtPercentGDP
2730  GC.DOD.TOTL.GD.ZS  1970     2003.941756
2996  GC.DOD.TOTL.GD.ZS  1971     1768.648933
7884  GC.DOD.TOTL.GD.ZS  1989       39.128400
7965  GC.DOD.TOTL.GD.ZS  1989       39.128400
7993  GC.DOD.TOTL.GD.ZS  1990       12.227485

In [9]:
import pandas as pd
import zipfile

# Step 1: Load the ZIP file
zip_path = "C:\\Users\\aleen\\venv\\API_GC.DOD.TOTL.GD.ZS_DS2_en_csv_v2_87867.zip"

with zipfile.ZipFile(zip_path, 'r') as z:
    # Print all files in the ZIP
    print("Contents of the ZIP file:")
    for name in z.namelist():
        print(name)
    
    # Find the actual data file (not metadata)
    csv_files = [name for name in z.namelist() if name.endswith('.csv') and "Metadata" not in name]
    
    if not csv_files:
        raise ValueError("❌ No valid CSV file found in ZIP!")

    # Use the first valid CSV file
    csv_name = csv_files[0]
    print(f"\n✅ Using file: {csv_name}")

    with z.open(csv_name) as f:
        df = pd.read_csv(f, skiprows=4)

# Confirm the DataFrame was loaded
print("\n✅ DataFrame loaded with shape:", df.shape)
print(df.head())

Contents of the ZIP file:
Metadata_Indicator_API_GC.DOD.TOTL.GD.ZS_DS2_en_csv_v2_87867.csv
API_GC.DOD.TOTL.GD.ZS_DS2_en_csv_v2_87867.csv
Metadata_Country_API_GC.DOD.TOTL.GD.ZS_DS2_en_csv_v2_87867.csv

✅ Using file: API_GC.DOD.TOTL.GD.ZS_DS2_en_csv_v2_87867.csv

✅ DataFrame loaded with shape: (266, 70)
                  Country Name Country Code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                              Indicator Name     Indicator Code  1960  1961  \
0  Central government debt, total (% of GDP)  GC.DOD.TOTL.GD.ZS   NaN   NaN
1  Central government debt, total (% of GDP)  GC.DOD.TOTL.GD.ZS   NaN   NaN
2  Central government debt, total (% of GDP)  GC.DOD.TOTL.GD.ZS   NaN   NaN
3  Central government debt, total (% of GDP)  GC.DOD.TOTL.GD.ZS   NaN   NaN
4  Central government debt, total (% of GDP)  GC.DOD.TOTL.GD.ZS   NaN   NaN

   1962  1963  1964  1965  ...  2016  2017  2018  2019  2020  2021  2022  \
0   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   2023  2024  Unnamed: 69
0   NaN   NaN          NaN
1   NaN   NaN          NaN
2   NaN   NaN          NaN
3   NaN   NaN          NaN
4   NaN   NaN          NaN

[5 rows x 70 columns]

In [10]:
from sqlalchemy import create_engine

# Replace these values with your actual Azure SQL info
server = 'elt-world-bank.database.windows.net'
database = 'ELT'
username = 'CloudSA648a5ceb'
password = 'Urno9@$$'
driver = 'ODBC Driver 17 for SQL Server'

# Create connection string
connection_string = f"mssql+pyodbc://{username}:{password}@{server}:1433/{database}?driver={driver}"
engine = create_engine(connection_string)

In [16]:
import pyodbc

conn_str = (
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=tcp:elt-world-bank.database.windows.net,1433;"
    "DATABASE=ELT;"
    "UID=CloudSA648a5ceb@elt-world-bank;"
    "PWD=Urno9@$$;"
    "Encrypt=yes;"
    "TrustServerCertificate=no;"
    "Connection Timeout=60;"
)

conn = pyodbc.connect(conn_str)

In [17]:
import pyodbc

conn_str = (
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=tcp:elt-world-bank.database.windows.net,1433;"
    "DATABASE=ELT;"
    "UID=CloudSA648a5ceb@elt-world-bank;"
    "PWD=Urno9@$$;"
    "Encrypt=yes;"
    "TrustServerCertificate=no;"
    "Connection Timeout=60;"
)

conn = pyodbc.connect(conn_str)
print("Connection successful.")

Connection successful.

In [18]:
df.to_sql('ibrd_loans', con=engine, if_exists='replace', index=False)
print("Data uploaded to Azure SQL!")

Data uploaded to Azure SQL!

In [21]:
pd.read_sql("SELECT name FROM sys.tables", con=engine)

         name
0  ibrd_loans

In [22]:
df_long.to_sql('debt_percent_gdp', con=engine, if_exists='replace', index=False)
print("✅ Re-uploaded as 'debt_percent_gdp'")

✅ Re-uploaded as 'debt_percent_gdp'

In [23]:
import pandas as pd
import sqlalchemy

# Assuming engine is already defined elsewhere in your code
# If not, you would need to create it first:
# engine = sqlalchemy.create_engine('your_connection_string')

# Roll back any pending transactions
if hasattr(engine, 'dispose'):
    engine.dispose()  # This closes all connections and rolls back transactions

# Alternative approach if dispose() doesn't work
try:
    with engine.connect() as connection:
        connection.execute(sqlalchemy.text("ROLLBACK"))
except:
    pass  # If this fails, we'll try the query anyway

# Now try your query
query = "SELECT TOP 5 * FROM debt_percent_gdp"
test_df = pd.read_sql(query, con=engine)
print(test_df)

    Country Name Country Code                             Indicator Name  \
0          Spain          ESP  Central government debt, total (% of GDP)
1          Spain          ESP  Central government debt, total (% of GDP)
2  North America          NAC  Central government debt, total (% of GDP)
3  United States          USA  Central government debt, total (% of GDP)
4      Australia          AUS  Central government debt, total (% of GDP)

      Indicator Code  Year  DebtPercentGDP
0  GC.DOD.TOTL.GD.ZS  1970     2003.941756
1  GC.DOD.TOTL.GD.ZS  1971     1768.648933
2  GC.DOD.TOTL.GD.ZS  1989       39.128400
3  GC.DOD.TOTL.GD.ZS  1989       39.128400
4  GC.DOD.TOTL.GD.ZS  1990       12.227485

In [24]:
query = "SELECT TOP 5 * FROM debt_percent_gdp"
test_df = pd.read_sql(query, con=engine)
print(test_df)

    Country Name Country Code                             Indicator Name  \
0          Spain          ESP  Central government debt, total (% of GDP)
1          Spain          ESP  Central government debt, total (% of GDP)
2  North America          NAC  Central government debt, total (% of GDP)
3  United States          USA  Central government debt, total (% of GDP)
4      Australia          AUS  Central government debt, total (% of GDP)

      Indicator Code  Year  DebtPercentGDP
0  GC.DOD.TOTL.GD.ZS  1970     2003.941756
1  GC.DOD.TOTL.GD.ZS  1971     1768.648933
2  GC.DOD.TOTL.GD.ZS  1989       39.128400
3  GC.DOD.TOTL.GD.ZS  1989       39.128400
4  GC.DOD.TOTL.GD.ZS  1990       12.227485

In [27]:
import pandas as pd
from sqlalchemy import text

# Your SQL query as a string
query = """
SELECT [Country Name], [Year], [DebtPercentGDP]
FROM debt_percent_gdp
WHERE [Year] >= '2010'
ORDER BY [DebtPercentGDP] DESC
"""

# Run the query using your SQLAlchemy engine
df = pd.read_sql(text(query), con=engine)

# Preview the result
print("✅ Query successful!")
df.head()

✅ Query successful!

  Country Name  Year  DebtPercentGDP
0       Greece  2020      249.366027
1       Greece  2021      233.448695
2        Japan  2021      216.329365
3        Japan  2022      216.213375
4        Japan  2020      215.755541

In [28]:
from sqlalchemy import text

query_avg_debt = """
SELECT [Country Name], AVG([DebtPercentGDP]) AS AvgDebt
FROM debt_percent_gdp
GROUP BY [Country Name]
ORDER BY AvgDebt DESC
"""

avg_debt_df = pd.read_sql(text(query_avg_debt), con=engine)
avg_debt_df.head()

       Country Name     AvgDebt
0             Sudan  826.411206
1        Seychelles  174.684387
2     Cote d'Ivoire  171.065443
3             Spain  170.255786
4  Congo, Dem. Rep.  161.933820

In [29]:
query_germany_trend = """
SELECT [Year], [DebtPercentGDP]
FROM debt_percent_gdp
WHERE [Country Name] = 'Germany'
ORDER BY [Year]
"""

germany_debt_df = pd.read_sql(text(query_germany_trend), con=engine)
germany_debt_df.head()

   Year  DebtPercentGDP
0  1990       20.854185